doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='/css/main.css')
    block head
  body
    header
      nav
        ul
          li
            a(href='/') Shop
          li
            a(href='/products') Products
          li
            a(href='/cart') Cart
          li
            a(href='/admin/add-product') Add Product
          li
            a(href='/admin/products') Admin Products
    main
      block content
