extends ../base.pug

block content
  if products.length > 0
    ul
      each p in products
        li
          p= `${p.product.title} (${p.qty})`
          form(action='/cart/delete-product', method='POST')
            input(type='hidden' name='productId' value=p.product.id)
            button(type='submit') Delete
  else
    h1 No products in the cart
